<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'volumen_cilindro:enviar' %}" method="post">
        {% csrf_token %}
        <h1>{{ titulo }}</h1>
        <label for="">Introduzca el diametro en metros</label>
        <input type="text" name="diametro" id="">
        <label for="">Introduzca la altura en metros</label>
        <input type="text" name="altura" id="">
        <input type="submit" value="Calcular">
    </form>
</body>
</html>