<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> {{titulo}} </h2>
    <form action="{% url 'encuesta:enviar' %}" method="POST">
        {% csrf_token %}
        Nombre:
        <input type="text" name="nombre" maxlength="50"><br>
        Contraseña
        <input type="password" name="password"><br>
        Educacion:
        <select name="educacion">
            <option value="sin-estudios">Sin estudios</option>
            <option value="educacion-obligatoria" selected> Educación Obligatoria</option>
            <option value="formacion-profesional">Formación profesional</option>
            <option value="universidad">Universidad</option>
        </select> <br>
        Nacionalidad:
        <input type="radio" name="nacionalidad" value="hispana">Hispana </input>
        <input type="radio" name="nacionalidad" value="otra">Otra </input><br>
        Idiomas:
        <input type="checkbox" name="idiomas" value="español" checked>Español
        <input type="checkbox" name="idiomas" value="ingles" >Inglés
        <input type="checkbox" name="idiomas" value="frances" >Francés
        <input type="checkbox" name="idiomas" value="aleman" >Alemán
        <br>
        Email:
        <input type="text" name="email"><br>
        Sitio Web:
        <input type="text" name="sitioweb"><br>
        <input type="submit" name="submit" value="Enviar">
    </form>
</body>
</html>

